@keyframes highlightBorder {
  0% {
    border: 2px solid blue;
  }
  100% {
    border: 2px solid #444;
  }
}

@keyframes blink {
  50% {
    background-color: #ffdddd;
  }
}

.highlight {
  animation: highlightBorder 2s ease-in-out;
  border-radius: 8px;
  border: 2px solid #d3d4d9;
}
